# Project exclude paths
/venv/
/.idea/AoC 2016.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore
